/* Search Input Styling */
.search-container {
    margin-bottom: 20px;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
  }
  
  /* Pagination Styling */
  .pagination-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .pagination {
    list-style: none;
    display: flex;
    padding: 0;
  }
  
  .page-item {
    margin: 0 5px;
  }
  
  .page-link {
    padding: 10px 15px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
  }
  
  .page-link:hover {
    background-color: #ddd;
  }
  
  .page-item.active .page-link {
    background-color: #007bff;
    color: white;
  }
  